[submodule "sections/02_Projects/Playwright/API/functional/eCommerce-API-Playwright"]
	path = sections/02_Projects/Playwright/API/functional/eCommerce-API-Playwright
	url = https://github.com/milanmmore/eCommerce-API-Playwright.git
[submodule "sections/02_Projects/Playwright/API/capstone/reqres-api-playwright"]
	path = sections/02_Projects/Playwright/API/capstone/reqres-api-playwright
	url = https://github.com/milanmmore/reqres-api-playwright.git
